@using Microsoft.AspNetCore.Authentication
@{
    var result = await Context.AuthenticateAsync("cookie");
}
<div class="row">
    <div class="col-xs-12">
        @if (result.Succeeded)
        {
            <h2>Authenticated</h2>
            <ul>
                @foreach (var claim in result.Principal.Claims)
                {
                    <li><strong>@claim.Type:</strong> @claim.Value</li>
                }
            </ul>
        }
        else
        {
            <h2>Unauthenticated</h2>
        }
    </div>
    <div class="col-xs-12">
        <a asp-action="ChallengeScheme" asp-route-scheme="idp1" class="btn btn-default">Login with IdP1</a>
        <a asp-action="ChallengeScheme" asp-route-scheme="idp2" class="btn btn-default">Login with IdP2</a>
        <a asp-action="ChallengeScheme" asp-route-scheme="duende" class="btn btn-default">Login with Duende</a>
        <a asp-action="ChallengeScheme" asp-route-scheme="duendeDynamicProviders" class="btn btn-default">Login with Duende Dynamic Providers</a>
    </div>
</div>