@using System.Security.Claims
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>SAML2P SP</h1>
</div>
<div class="row">
    <div class="col-xs-12">
        @if (User.Identity.IsAuthenticated)
        {
            <h2>Authenticated</h2>
            <p>
                <ul>
                    @foreach (var claim in ClaimsPrincipal.Current.Claims)
                    {
                        <li><strong> @claim.Type:</strong> @claim.Value</li>
                    }
                </ul>
            </p>
        }
        else
        {
            <h2>Unauthenticated</h2>
        }
    </div>
</div>